/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


/* Import Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full viewport height layout */
html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Global body styles */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 320px;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

/* Links */
a {
  color: #3b82f6;
  text-decoration: none;
  transition: color 0.2s;
  
}

a:hover {
  color: #60a5fa;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@import "./node_modules/nes.css/css/nes.css"